node_modules/
dist/
*.tsbuildinfo
.DS_Store
.vercel
.netlify
_site/
.astro/
*.log
package-lock.json

# do not commit .env files or any files that end with `.env`
*.env

# exclude IntelliJ/WebStorm stuff
.idea

# project-specific settings that shouldn't be shared
*.code-workspace
.vscode
